{% extends "core/base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="p-4 gray-100 text-3xl max-w-4xl flex md:min-h-[30rem] items-center">
    <p>
        Taskhub is a task management app built in python to facilitate the creation, assignment and tracking of tasks
        within a collaborative environment.
    </p>
</div>
<a href="{% url 'core:signup' %}"
    class="m-4 p-4 text-gray-100 rounded-sm bg-teal-700 hover:bg-teal-900 font-semibold">Sign up Today</a>
{% endblock %}
